html {
    background: #ffffff;
}

body {
    background: #ffffff;
}

.form-control {
    border-radius: 50px;
    background-color: transparent !important;
}

#form-login .form-control {
    padding-left: 36px;
}
#form-reg .form-control {
    padding-left: 36px;
}
#form-findPassword .form-control {
    padding-left: 36px;
}
.div-reginfo .form-control:focus {
    border: 0px;
}

.registerOneBtnClass p {
    color: #333;
    padding-left: 15px;
}

.inforList li {
    margin: 0 14px 0 14px;
    font: 13px/50px microsoft yahei;
}

    .inforList li input {
        background-color: transparent;
        width: 180px;
        margin-right: 18px;
    }

@media (min-width: 375px) {
    .inforList li input {
        background-color: transparent;
        width: 235px;
        margin-right: 18px;
    }
}

@media (min-width: 360px) {
    .inforList li input {
        background-color: transparent;
        width: 215px;
        margin-right: 18px;
    }
}

.inforList li .fa-tip-cirl {
    position: absolute;
    right: 0;
    top: 16px;
    color: rgba(222, 222, 222, 0.88);
}

.inforList li .fa-tip-success {
    color: #32dacd;
}

#City_dummy {
    width: 94px;
    margin-right: 18px;
}

.topbar {
    background-color: #fe8775;
}

.btn-default-bg, .btn-default-bg:hover, .btn-default-bg:focus, .btn-default-bg:active, .btn-default-bg.active, .btn-default-bg.focus, .btn-default-bg:active, .btn-default-bg:focus, .btn-default-bg:hover, .open > .dropdown-toggle.btn-default-bg {
    background-color: #fe8775 !important;
    border: 1px solid #fe8775 !important;
}

.btn-default-bg {
    background: none;
    background-color: #fe8775;
    color: #ffffff !important;
    background-size: 100%;
}

.btn-baoming {
    margin-top: 100px;
    margin-bottom: 30px;
}

.btn-zhucebaoming {
    margin-top: 60px;
    margin-bottom: 0px;
}

.form-horizontal {
    padding-top: 10px;
}

.p-bottom-tip {
    width: 243px;
    text-align: left;
    margin: 20px auto;
    color: #2196F3;
    font-size: 14px;
}

.img-result-tip {
    position: absolute;
    top: 43%;
    left: 0px;
}

.sp-icon-form {
    border-right: 1px solid #E3E3E3;
    color: #a59a9a;
    padding-right: 7px;
    position: absolute;
    top: 7px;
    left: 11px;
}

    .sp-icon-form .fa-mobile {
        font-size: 2.5rem;
        vertical-align: sub;
    }

    .sp-icon-form .fa-unlock-alt {
        font-size: 1.8rem;
        vertical-align: sub;
    }

    .sp-icon-form .fa-comment-o {
        font-size: 1.3rem;
        vertical-align: sub;
    }

.inforList .area input {
    margin: 0;
    width: 107px;
    padding: 0px;
    padding-right: 22px;
}

.xznan {
    color: #03a6e6;
    font-size: 15px;
    padding-left: 5px;
}

.xznv {
    color: #fb6d9d;
    font-size: 15px;
    padding-left: 5px;
}

.modal .modal-dialog .modal-content {
    padding: 6px;
}

.modal-footer {
    padding: 5px;
    text-align: right;
    border-top: none;
    padding-top: 0 !important;
}
.footerbar {
    background-color: #fe8775;
}
.footerbar a{
    color: #fff;
}
.tabs li.tab a.active {
    color: #fe8775 !important;
}
.tabs .indicator {
    background-color: #fe8775;
}
.feed a, .feed a:visited {
    color: #fe8775 !important;
}
.panel-group .panel + .panel {
     margin-top: 0px; 
}
.panel-default > .panel-heading {
    background-color: #ededed;
    border-bottom: none;
    color: #797979;
}

.nav.nav-tabs > li > a, .nav.tabs-vertical > li > a {
    color: #9E9E9E !important;
    font-weight: 200;
}

 .footerbar_f {
            background-color: #fff;
            border-top: 1px solid #ddd;
        }

            .footerbar_f a {
                color: #9E9E9E;
            }

                .footerbar_f .act {
                    color: #fe8775;
                }

                .footerbar_f a i {
                    font-size: 19px;
                }